body {
    background-color: white;
    font-family:arial;
    font-size: 20px; 
}

/* PARTE INICIAL*/

.titulo{
    top: 0;
    background-image: url('imagens/tema-pagina-empreendedorismo-principal-min.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 790px;
    width: 100%;
    position: absolute;
    margin-bottom: 10%;

}


.titulo01{
    height: 700px;
    width: 60%;
    top: 100px;
    justify-content: center;
    align-items: center;
    text-align: left;  
    position:relative;
    padding-bottom: 100px;
}


.titulo01 h1 {

    justify-content: center;
    align-items: center;
    text-align: center;
    color: blue; 
    font-size: 67px;
 }

.titulo01 p {
        
    font-size: 30px;
    color: darkblue
 }



.Botão{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#estudos{
    background-image: url('imagens/empreendedorismo-botao-1.png');
    background-size: cover;
    background-position: center;
    height: 131px;
    width: 140px;
    border: none;
}

#pesquisas{
    background-image: url('imagens/empreendedorismo-botao-2.png');
    background-size: cover;
    background-position: center;
    height: 131px;
    width: 140px;
    border: none;

}

#paineis{
    background-image: url('imagens/empreendedorismo-botao-3.png');
    background-size: cover;
    background-position: center;
    height: 131px;
    width: 140px;
    border: none;

}


/*BOTÃO PÁGINA ESPECIAL*/

.botaoEspecial{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 800px;
}

#Especial{
    background-image: url('imagens/btnPgEspecial.png');
    background-size: cover;
    background-position: center;
    height:109px;
    width: 600px;
    border: none;
}

/*SEÇÃO 1*/

.Secao01{
    display: flex;
    justify-content: space-between;
    margin-top: 850px;
}

/*BOTÃO ESTUDOS*/

.botaoEstudo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 800px;
}

#Estudo{
    background-image: url('imagens/btnEstudos.png');
    background-size: cover;
    background-position: center;
    height:109px;
    width: 600px;
    border: none;
}

/*FORMAS DE EMPREENDEDORISMO*/

.Empreendedorismo{
    background-image: url('imagens/findoLinha.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

/* PARTE DE CIMA */
.texto{ 
    margin-top: 70px;
    width: 900px;
    position: absolute; 
    right: 0; 

}
.tituloo {
    font-size: 40px;
    color: rgb(75, 75, 119);
    font-weight: bold;
    text-align: left; 

}
.subtitulo {
    color: black;
    font-size: 20px;
    text-align: left;

}

.butao{
    position: absolute;
    margin-top: 320px;
    margin-left: 1180px;
}

#acessar {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

.caraNegro{
    position: absolute;
    top: 50px;
    left: 0;
    margin-left: 12px;
}

/* PARTE DE BAIXO*/

.texto02{ 
    margin-top: 640px;
    width: 900px;
    position: absolute; 
    left: 0; 

}
.tituloo02 {
    font-size: 40px;
    color: rgb(75, 75, 119);
    font-weight: bold;
    text-align: left;

}
.subtitulo02 {
    color: black;
    font-size: 20px;
    text-align: left;

}

.caraBranco{
    position: absolute;
    top: 640px;
    right: 0;
    margin-right: 12px;
}


.butao02{
    position: absolute;
    margin-top: 900px;
    margin-left: 50px;
}

#acessar02 {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

.fundo {
    position: relative;
    background-size: cover;
    background-position: center;

}

/*FORMAS DE EMPREENDER PARTE 2 */

.Empreendedorismo02{
    background-image: url('imagens/findoLinha.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    
}

/*PARTE DE CIMA*/



.texto03{ 
    margin-top: 70px;
    width: 900px;
    position: absolute; 
    right: 0; 

}
.tituloo03 {
    font-size: 40px;
    color: rgb(75, 75, 119);
    font-weight: bold;
    text-align: left; 

}
.subtitulo03 {
    color: black;
    font-size: 20px;
    text-align: left;

}

.butao03{
    position: absolute;
    margin-top: 320px;
    margin-left: 1180px;
}

#acessar03 {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

.mulherBran{
    position: absolute;
    top: 50px;
    left: 0;
    margin-left: 12px;
}


.butao03{
    position: absolute;
    margin-top: 320px;
    margin-left: 1180px;
}

#acessar03 {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

/*PARTE DE BAIXO*/


.texto04{ 
    margin-top: 640px;
    width: 900px;
    position: absolute; 
    left: 0; 

}
.tituloo04 {
    font-size: 40px;
    color: rgb(75, 75, 119);
    font-weight: bold;
    text-align: left;

}
.subtitulo04 {
    color: black;
    font-size: 20px;
    text-align: left;

}

.mulherVer{
    position: absolute;
    top: 640px;
    right: 0;
    margin-right: 12px;
}


.butao04{
    position: absolute;
    margin-top: 900px;
    margin-left: 50px;
}

#acessar04 {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

/*BOTÃO ESTUDOS ESPECIAIS*/

.EstudoEsp{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

#Estesp{
    background-image: url('imagens/btnEstudos.png');
    background-size: cover;
    background-position: center;
    height:109px;
    width: 600px;
    border: none;
}

/* EMPREENDEDORISMO03 */

.Empreendedorismo03{
    background-image: url('imagens/findoLinha.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}


.texto05{ 
    margin-top: 440px;
    width: 900px;
    position: absolute; 
    right: 20px; 

}
.tituloo05 {
    font-size: 40px;
    color: rgb(75, 75, 119);
    font-weight: bold;
    text-align: left; 

}
.subtitulo05 {
    color: black;
    font-size: 20px;
    text-align: left;

}

.butao05{
    position: absolute;
    margin-top: 800px;
    margin-left: 750px;
}

#acessar05 {
    background-image: url('imagens/btnAcessa.png');
    background-size: cover;
    background-position: center;
    height:75px;
    width: 285px;
    border: none;
}

.mulherBranca{
    position: absolute;
    top: 440px;
    margin-left: 8px;
}


/*BOTÃO ESTUDOS ESPECIAIS 02*/

.EstudoEsp02{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

#Estesp02{
    background-image: url('imagens/btnEstudos.png');
    background-size: cover;
    background-position: center;
    height:109px;
    width: 600px;
    border: none;
}


